<div>
  <ng-container [ngSwitch]="schema.type">
    <mat-form-field color="primary" *ngSwitchCase="InputTypeEnum.Text" [ngClass]="{'hidden': schema.hidden === InputVisibilityEnum.True}">
      <mat-label>
        {{schema.label}}
      </mat-label>
      <input matInput type="text" [name]="schema.label" [placeholder]="schema.label" [formControl]="control"
             [required]="schema.mandatory">
    </mat-form-field>

    <div *ngSwitchCase="InputTypeEnum.Check">
      <mat-checkbox color="primary" [formControl]="control" [required]="schema.mandatory"
                    [ngClass]="{'hidden': schema.hidden === InputVisibilityEnum.True}">
        {{schema.label}}
      </mat-checkbox>

    </div>

  </ng-container>
</div>

